.page-container{
    /* background-color: hsl(280,50%,90%) !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-container .produtos{
    background-color: hsl(260,18%,60%);
    padding: 15px;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 14px;
}
.produtos .produto{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    border-radius: 14px;
    width: 250px;
    height: 330px;
    padding: 15px;
    background-image: linear-gradient(to bottom,hsl(270,20%,40%),hsl(270,50%,94%));
}
.produto .cartao{
    border: 3px white solid;
    border-radius: 20px;
    width: 100%;
    height: calc(100% );
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.5s ease-out,
    transform 0.5s ease-in-out,
    filter 2s ease-in-out; /*Efeitos do JS*/
}
.cartaoFrente{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* transition: 0.25s ease-in-out; */
}
.cartaoTras{
    position: absolute;
    display: flex;
    background-color: hsl(270,25%,80%);
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg); /*Precisa estar invertido de padrao, quando clicado, desinverte*/
    transition: 0.5s ease-in-out;
}
.produto .produto-img{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: hsl(270,30%,20%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.produto .produto-img > img{
    width: 128px;
    height: 128px;
    filter: drop-shadow(0 0 20px hsl(280,40%,85%));
}
.produto .produto-info{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.produto .produto-info .prod-tit{
    border-bottom: 2px solid gray;
    background-color: #f9f2ff;
}
.produto .produto-info .prod-tit > h4{
    padding: 6px 0;
    text-align: center;
}
.produto .produto-info .prod-preco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: hsl(280,30%,85%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.produto .produto-info .prod-preco .prod-valor{
    display: flex;
    width: calc(100% - (64px + 8px + 12px));
    font-size: 14px;
    align-items: center;
    column-gap: 8px;
    justify-content: flex-end;
}
.produto .produto-info .prod-preco .prod-prom{
    border-left: 2px solid gray;
    padding: 10px 6px;
    font-size: 12px;
}
#bt-comprar{
    margin: 0 30px;
    padding: 6px;
    border: 2px solid #c7afd4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#b89dc6,#f9f2ff);
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s ease-out;
    border-radius: 14px;
}
#bt-comprar:hover{
    opacity: 0.8;
}
#bt-comprar > img{
    width: 32px;
}
.descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.descricao h2{
    text-align: center;
    text-decoration: underline;
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.descricao hr{
    border-radius: 100%;
    background-color: hsl(270,50%,10%);
    margin: 0 10px;
}
.descricao .background-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(280,50%,95%);
    border-radius: 20px;
    margin: 0 20px;
}
.descricao p{
    padding: 0 20px 0 20px;
    font-size: 0.7rem;
    color: black;
    text-align: left;
    font-weight: bold;
    max-height: 0;
    overflow: hidden; /*Esconde o conteudo*/
    overflow-y: auto; /*Adiciona barra de rolagem vertical*/ 
    transition: max-height 0.5s ease-in, margin 0.5s ease-out;
}
.descricao .background-desc .expandir{
    background-image: linear-gradient(to bottom,hsl(270,20%,60%),hsl(270,20%,75%));
    color: white;
    margin: 4px 40px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    transition: 1s ease-in;
}
.descricao .background-desc .icon-expandir{
    transform: rotate(90deg);
    transition: 0.5s ease-in;
}
.flip{
    transform: rotateY(180deg) !important;
}
.altura{
    max-height: 80px !important;
    transition: 1s ease-out;
}
.margem{
    margin: 6px 0;
}
.rodarCima{
    transform: rotate(-90deg) !important;
}
@media (max-width: 1330px) {
    .page-container .produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 720px) {
    .page-container .produtos {
        grid-template-columns: repeat(1, 1fr);
    }
}